
#wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: scroll;
}
#plus{
    position: absolute;
    left: 8px;
    top: 160px;
    width: 45%;
    bottom: 0;
    padding-bottom: 64px;
}
#minus{
    position: absolute;
    right: 8px;
    top: 160px;
    width: 45%;
    bottom: 0;
    padding-bottom: 64px;
}
input#problem-name{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 12px;
    height: auto;
    font-size: 32px;
    padding: 12px;
    font-weight: lighter;
    border: none;
    box-shadow: none;
    background: #fff;
    color: black;
}
#problem-arg{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 81px;
    height: 32px;
    font-size: 16px;
    text-align: center;
}
#problem-arg>input{
    width: 80%;
    border-radius: 0 0 0 0;
    border: none;
    outline: solid 1px #ccc;
    padding: 8px;
    background: #fff;
    color: #000;
}
#wrapper hr{
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background-color: #ccc;
}
#footer{
    position: fixed;
    border-top: solid 1px #ccc;
    box-shadow: 0px -1px 12px #ccc;
    padding: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 48px;
    background: white;
}